In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import MeanShift, estimate_bandwidth
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_pickle(r'D:\Py_Prjs\OPA_repo\ClusterAnalysis\KMeans\Data\df_allInfo_clean.pkl')
df_numeric = df.select_dtypes(include=['float64'])
cnt = df_numeric.isnull().sum()
X = df_numeric.fillna(df_numeric.median())
sc = MinMaxScaler()
X_scaled = pd.DataFrame(sc.fit_transform(X), columns=X.columns, index=X.index)

In [101]:
quantile = 0.0001
n_samples = 503
bandwidth = estimate_bandwidth(X_scaled, quantile = quantile, n_samples = n_samples)
cluster = MeanShift(bandwidth = bandwidth)
cluster.fit(X_scaled)
c, l = cluster.cluster_centers_, cluster.labels_

In [102]:
df_ms_cluster = pd.merge(pd.Series(X.index), pd.Series(l, name='cluster'), right_index=True, left_index=True)
df_ms_cluster

    symbol  cluster
0        A      112
1      AAL      288
2      AAP      119
3     AAPL      285
4     ABBV      257
..     ...      ...
498    LEN       63
499   CBOE      153
500    DLR       24
501    IQV      135
502     ON       13

[503 rows x 2 columns]

In [103]:
max(l)

301

In [104]:
df_ms_cluster.cluster.value_counts().sort_values(ascending=False)

91     7
67     5
99     5
227    5
160    5
      ..
296    1
9      1
242    1
282    1
13     1
Name: cluster, Length: 302, dtype: int64